body
{
    min-height: 100vh; 
}

footer 
{
    background: rgb(180, 21, 3);
    color: white;
    margin-top: 1%;
    padding: 1px;
    bottom: 0;
    width:100%; 
    position: fixed ;
    z-index: 1;
     
}

.body_template
{
    background: url('img/bg.jpg');
    background-size: cover;

}

.body_login
{
    background: url('img/bg.jpg');
    background-size: cover;

}
.page-header
{
    font-family: 'Shadows Into Light Two', cursive; 

}

.col_login
{
    background: rgba(235, 255, 255, 0.7);
}

.col_login_margin
{
    margin-top:20%!important;
    margin-bottom:5%!important;
}

.stat_margin
{
    margin-top: 3%;
}

.stat_row
{
    
    background: rgba(225, 255, 255, 0.8);
    height: 200px!important;
}

.profile_style
{
    
    color: white;   
    height: 300px!important;
    background: rgba(3, 40, 57,0.8)
}

.profile_border
{
    border: 5px solid white;
    background: white;
}

.flex-grow 
{
    flex: 1;
}

#date_time
{
    
}

.sale_margin_btn
{
    margin-top: 5%;
}

.userRegistry_border
{
    padding: 1%;
    border: 2px solid grey;
}

.userRegistry_background
{

    background: rgba(225, 255, 255, 0.8);
    
}


